.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}

.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}
.carousel-item{
    height: 700px;
}
.text-white{
    font-size: 1rem;
}
.textwhite{
    font-size: 2rem;
    color: rgb(196, 196, 196);
}

.mt-5{
    min-width: 768px;
    padding-left: 5rem;
}
.off{
    font-size: large;
    color: gray;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 20px;
}
.logo{
    justify-content: center;
    display: flex;
    padding: 2rem;
    width: auto;
    height: 600px;
}
.imglb{
    width: 30%;
    padding: 1rem;
    margin-block: black;
}
.body{
    background-color: black;
}
.card-body{
    background-color: rgb(196, 196, 196);
}
.card{
    background-color: rgb(196, 196, 196);
    border-color: rgb(196, 196, 196);
    margin: 5px;
}
.btn-primary{
    background-color: black;
    border-color: black;
    
}
.card-title, .card-text{
    color: black;
}
