.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
.body{
    background-image: url(img/LABOUTIQUE.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}
.carousel-item{
    height: 700px;
}
.text-white{
    font-size: 1rem;
}
.textwhite{
    font-size: 2rem;
    color: #b39070;
}

.mt-5{
    min-width: 768px;
    padding-left: 5rem;
}
@media screen and (max-widht:768px){
    .nav{
        width: 100%;
    }
    
}